<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:include="common/head::head"></th:block>
        <script type="text/javascript" src="table.js"></script>
    </head>
    <body onLoad="onLoad()">
        <div th:replace="common/navbar::navbar"></div>
        <main class="p-5" id="main">
            <h1 class="pb-5">Table Roller</h1>
            <div class="pb-5 mb-1 row">
                <label for="campaign" class="col-sm-1 col-form-label">Campaign</label>
                <div class="col-sm-2">
                    <select class="form-select" onchange="onSelectCampaign()" id="campaign">
                        <option selected>Select a campaign</option>
                        <th:block th:each="c: ${campaign}">
                            <option th:text="${c}"></option>
                        </th:block>
                    </select>
                </div>
            </div>

            <th:block th:each="i: ${#numbers.sequence(0,4)}">
                <div class="mb-3 row">
                    <label th:for="'table' + ${i}" class="col-sm-1 col-form-label">Table</label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" th:id="'table'+ ${i}"></select>
                    </div>
                    <label th:for="'repeats' + ${i}" class="col-sm-1 col-form-label">Repeats</label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control" th:id="'repeats' + ${i}">
                    </div>
                    <div class="col-sm-1">
                        <button type="submit" th:id="${i}" class="btn btn-primary mb-3" onclick="roll(this.id)">Roll</button>
                    </div>
                    <div class="row" th:id="'results' + ${i}"></div>
                </div>
            </th:block>
        </main>

        <!-- Modal Combat Stats Dialog -->
        <div class="modal fade" id="combatStatsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel">Combat Stats</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="combatStatsBody" class="modal-body">
                        combat stats here
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>